<h1>Maps of <%= @city %></h1>

<ol id="map-list">
<% @maps.each do |map| %>
  <li><a href="/cities/<%= map.city_id %>/maps/<%= map.id %>"><%= map.title %></a></li>
<% end %>
</ol>

<% if session[:user_id] != [] %>
<%= button_to "Create a new map", new_city_map_path, method: "get" %>
<% end %>

<%= button_to 'Logout', logout_path, method: :delete %>
