<!DOCTYPE html>
<html>
<head>
  <title>CityMapps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js'></script>
</head>
<body>
<header>
<a href='/'><span class="app_name" style="color: #b8ed9f;">City</span><span class="app_name" style="color: #d94869;">Mapps</span></a>
</header>
<div id="wrapper">
<div id="content_wrapper">
<div id="content_inner_wrapper">
<%= yield %>
</div>
</div>
</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<div id="footer_wrapper">
<div id="footer_inner_wrapper">
<div><%= link_to image_tag("cm_logo.jpg", :class => :footer_logo), "https://github.com/krismacfarlane/city_mapp"%>
</div>
</div>
</div>

</body>
</html>
